

*{
    /* font-family: 'Poppins', sans-serif; */
}

        body {
            margin: 2% 10%;
            padding-left: 6%;
            padding-right: 6%;
            font-family: Calibri, Helvetica, sans-serif;
            background-color:  rgb(68 31 31 / 76%);
        }
        
        

        .container {
            padding: 10px 45px;
            background-color: lightblue;
        }

        input[type=text],
        input[type=password],input[type=email],input[type=phone],
        textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

     input:focus{
            background-color: rgb(152, 137, 241);
            outline: none;
        }

        div {
            padding: 10px 0;
        }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        .but {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .but:hover {
            opacity: 1;
        }
        span{
            color:red;
        }
        .formdesign{
            font-size: 1rem;
            font-weight:600;
        }